// SASS Configuration File

// Fonts
// -----------------------------------------

$font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-secondary: 'Poppins', sans-serif !default;


// Colors
// -----------------------------------------

$color-primary: #d85138 !default;
$color-primary-dark: lighten(desaturate(adjust-hue($color-primary, -9.3750), 3.1243), 0.7843);
$color-primary-light: darken(saturate(adjust-hue($color-primary, 8.8706), 3.7275), 0.5882);
$color-secondary: #f3f3f3;

// Colors - Basic
$color-red: #e15757;
$color-blue: #56aee5;
$color-orange: #f06a28;
$color-red: #e15757;
$color-green: #83bd3f;

$color-white: #fff;
$color-light: #f3f3f3;
$color-grey: #d3d3d3;
$color-dark: #1e1e1e;
$color-black: #000000;

// Colors - Text
$color-text-dark: #272727;
$color-text-muted: rgba(0,0,0,0.4); 
$color-text-muted-light: rgba(255,255,255,0.4);  
$color-text-darker: rgba(0,0,0,0.5); 

// Colors - Social 
$color-facebook: #213553;
$color-twitter: #3aa8db;
$color-google: #d04f3e;
$color-behance: #1882ff;
$color-dribbble: #e95aae;
$color-flickr: #f9429c;
$color-instagram: #4f86ac;
$color-linkedin: #008bc2;
$color-pinterest: #cb1f24;
$color-skype: #00bef4;
$color-slack: #44ba97;
$color-tumblr: #435971;
$color-vimeo: #0bc4ef;
$color-vine: #00be9b;
$color-youtube: #ed4533;

// Colors - Lines
$color-line-dark: rgba(0,0,0,0.1);
$color-line-light: rgba(255,255,255,0.1);
$color-line-grey: #dedede;

// Gradients
// -----------------------------------------

@mixin gradient-primary() {
	background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
}

// Other
// -----------------------------------------

@mixin transition-default() {
	@include transition(all 0.2s ease-out);
}

$topBarHeight: 40px;

// Media Queries
// -----------------------------------------

$screen-xl: "only screen and (min-width: 1500px)";
$screen-lg: "only screen and (min-width: 1200px)";
$screen-md: "only screen and (max-width: 1199px)";
$screen-sm: "only screen and (max-width: 991px)";
$screen-xs: "only screen and (max-width: 767px)";
$screen-xxs: "only screen and (max-width: 575px)";

// Arrays
// -----------------------------------------

$socialBrands:
	"facebook", $color-facebook,
	"twitter", $color-twitter,
	"google", $color-google,
	"behance", $color-behance,
	"dribbble", $color-dribbble,
	"flickr", $color-flickr,
	"instagram", $color-instagram,
	"linkedin", $color-linkedin,
	"pinterest", $color-pinterest,
	"skype", $color-skype,
	"slack", $color-slack,
	"tumblr", $color-tumblr,
	"vimeo", $color-vimeo,
	"vine", $color-vine,
	"youtube", $color-youtube;

$colorVersions:
	"primary", $color-primary,
	"secondary", $color-secondary,
	"info", $color-blue,
	"warning", $color-orange,
	"danger", $color-red,
	"success", $color-green,
	"dark", $color-dark;


