/* 6.17 Progress Bars
----------------------------------------------------------*/

.progress-wrapper {
	position: relative;
	padding-top: 32px;
	margin-bottom: 0.3rem;

	.value {
		position: absolute;
		top: 0;
		display: inline-block;
		padding: 0.3rem 0.6rem;
		background-color: #fff;
		@include box-shadow(1px 1px 38px 0 rgba(#000,0.25));
		@include border-radius(30px);
		font-size: 0.8rem;
		font-weight: 700;

		&:after {
			position: absolute;
			bottom: -2px;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 10px 0;
			border-color: transparent #fff transparent transparent;
			content: ' ';
		}
	}
}

.progress[value] {
	@include box-shadow(inset 3px 3px 3px 0 rgba(#000,0.05));
	@include border-radius(12px);
	height: 12px;
	background-color: $color-light;
	margin-bottom: 18px;
	padding: 3px;
}

.progress[value]::-webkit-progress-value {
	@include border-radius(12px);
	@include gradient-primary;
}

.progress[value]::-moz-progress-bar {
	@include border-radius(12px);
	@include gradient-primary;
}

.progress[value]::-ms-fill {
	@include border-radius(12px);
	@include gradient-primary;
}

$k: 1;
@for $i from 1 through length($colorVersions)/2 {
	$type: nth($colorVersions,$k);
	$color: nth($colorVersions,$k+1);

	.progress-#{$type}[value]::-ms-fill {
		background-image: none;
		background-color: $color;
	}
	.progress-#{$type}[value]::-webkit-progress-value {
		background-image: none;
		background-color: $color;
	}
	.progress-#{$type}[value]::-moz-progress-bar {
		background-image: none;
		background-color: $color;
	}
	$k: $k+2;
}