/* 4.5 Page Title
----------------------------------------------------------*/

.page-title {
    position: relative;
    padding: 100px 0;

    h1 {
        margin-bottom: 0;
        font-size: 3.2rem;
    }

    p.lead {
        margin-bottom: 0;
    }
}